/* Define um estilo geral para telas grandes */
* {
    margin: 0;
    padding: 0;
    font-family: 'DaxlinePro', sans-serif;
}

#cabecalho {
    color: white;
    padding: 20px 40px;
    background-color: rgb(238, 111, 132);
    font-size: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

#conteudo {
    width: 90%; /* Ajusta para ocupar 90% da tela para responsividade */
    max-width: 1100px;
    margin: auto;
    font-size: 23px;
    color: rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#conteudo h1, #conteudo h3 {
    text-align: left;
    margin-bottom: 20px;
}

#conteudo h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#conteudo p {
    margin: 20px 0px;
}

.topicos {
    margin-left: 40px;
}

.li {
    margin: 20px 0px;
}

.imagem {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

footer {
    margin-top: 20px;
    background-color: rgb(238, 111, 132);
    color: white;
    padding: 20px;
    text-align: center;
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
    #cabecalho {
        padding: 15px;
        font-size: 18px;
    }

    #conteudo {
        width: 95%;
        font-size: 18px;
        padding: 10px;
    }

    .topicos {
        margin-left: 20px;
    }

    .imagem {
        margin: 15px auto;
    }
}

@media (max-width: 480px) {
    #cabecalho {
        font-size: 16px;
        padding: 10px;
    }

    #conteudo {
        font-size: 16px;
        line-height: 1.5;
    }

    footer {
        font-size: 14px;
        padding: 15px;
    }
}